body{
    background-color: teal;
}
*{
    box-sizing: border-box;
}
.container{
    width: 50%;
    margin: auto;
    padding: 16px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgb(11, 11, 11);
}
input[type='text'],input[type='password'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: whitesmoke;
}
input[type='text']:focus,input[type='password']:focus {
    background-color:#add;
    outline: none;
}
.registerbtn {
    background-color: teal;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
    opacity: 0.8;
}